*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #333;
    overflow: hidden;
}

.landing{
    position: relative;
    background-image: url();
}